MYSQL_ROOT_PASSWORD=change-please
MYSQL_DATABASE=scicalc_db
MYSQL_USER=scicalc_user
MYSQL_PASSWORD=change-please
SECRET_KEY=change-please
JWT_SECRET_KEY=change-please

BACKEND_PORT=5000
FLASK_ENV=production
CORS_ORIGINS=http://localhost:8080,http://127.0.0.1:8080,http://localhost:5173,http://127.0.0.1:5173

FRONTEND_PORT=8080
VITE_API_BASE_URL=http://localhost:5000/api